
:LABEL1: Calculations in /home/cmueller/wien/FZU/src/quartz/10000k_gga
:LABEL2: on cv036 at Fri Jun 14 07:16:59 PM CEST 2024
:LABEL3: using WIEN2k_19.1 (Release 25/6/2019) in /home/cmueller/WIENROOT
:LABEL4: using the command: run_lapw

:LABEL1: Calculations in /home/cmueller/wien/FZU/src/quartz/10000k_gga
:LABEL2: on cv036 at Sat Jun 22 11:28:18 AM CEST 2024
:LABEL3: using WIEN2k_19.1 (Release 25/6/2019) in /home/cmueller/WIENROOT
:LABEL4: using the command: run_lapw
