
:LABEL1: Calculations in /home/cmueller/wien/FZU/src/quartz/rkmax10_1000_gga
:LABEL2: on cv036 at Thu Jun 13 06:05:28 PM CEST 2024
:LABEL3: using WIEN2k_19.1 (Release 25/6/2019) in /home/cmueller/WIENROOT
:LABEL4: using the command: run_lapw
