
:LABEL1: Calculations in /home/cmueller/wien/FZU/src/quartz/rkmax1000kgga
:LABEL2: on cv036 at Wed Jun 12 05:51:53 PM CEST 2024
:LABEL3: using WIEN2k_19.1 (Release 25/6/2019) in /home/cmueller/WIENROOT
:LABEL4: using the command: run_lapw
